.home {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(135deg, #f6f9fc, #e3fdfd);
  min-height: calc(100vh - 60px); /* висота на весь екран мінус navbar */
  width: 100vw; /* зайняти всю ширину екрану */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; /* прибрати можливі відступи */
  box-sizing: border-box;
}

.home h1 {
  font-size: 3rem;
  color: #2c3e50;
  margin-bottom: 20px;
  font-weight: bold;
}

.home p {
  font-size: 1.3rem;
  color: #555;
  max-width: 600px;
}

.home .cta-button {
  margin-top: 30px;
  padding: 12px 25px;
  background-color: #27ae60;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.home .cta-button:hover {
  background-color: #219150;
}
